<?xml version='1.0' encoding='utf-8'?>
<widget id="com.kuran.pro" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Kuran Dinle PRO+</name>
    <description>Kuran Dinle Uygulaması</description>
    <author email="dev@example.com">Developer</author>
    
    <content src="index.html" />
    
    <icon src="assets/icon.png" />

    <access origin="*" />
    <allow-intent href="*" />
    <allow-navigation href="*" />

    <preference name="Orientation" value="portrait" />

    <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
        <application android:usesCleartextTraffic="true" />
    </edit-config>
</widget>
